.vercel
.vscode
node_modules/
Database E-GBHM.sql
.env
jadwal.json
__pycache__/
*.pyc
flask_session/
cookies.json
credentials.json
app.log
*.log
htmlgateAsli/
app.log
notes.txt
venv/
contohLaporan/
scratch/
debug_rekap.py
dev/migrate_klien_data.py
dev/refactor_database.py
fix_json.py
fix_json_clean.py
patch_ocr.py
