Flask
Werkzeug
pandas
numpy
requests
beautifulsoup4
python-dotenv
lxml
APScheduler
cachetools
mysql-connector-python
bcrypt
PyJWT
pytz
flask-cors
webauthn
yt-dlp
gunicorn
pysocks
cryptography
qrcode[pil]
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
python-docx 
Pillow
bleach
Flask-Limiter